/*all label*/
label{
    color: #343332;
}

/*change some label*/
label#LblTitle, label#LblTitleAll, label#LblTitleOne{
    color: #F37A1B;
    font-weight: bold;
}

label#LblImg, label#LblID, label#LblModel{
    color: #E84706;
    font-weight: bold;
}  


